{#
    Modules m02-two-column
    Kuschti - pascal.kuster@css.ch
#}

{% macro main(label='', classes = false) %}
    <!-- START - m02-two-column -->
      <section class="two-column">
        <div class="two-column__text">TEXT</div>
        <div class="two-column__img">TEXT</div>
      </section>
    <!-- END - m02-two-column -->
{% endmacro %}
