/* ==|====================
   Settings / Fonts


@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: url("../assets/fonts/roboto-v18-latin-regular.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: url("../assets/fonts/roboto-v18-latin-700.woff2") format("woff2");
}======================= */

/* Web Fonts  */


@font-face {
  font-family: MuseoSubset;
  src: url('/assets/fonts/museo-700.woff') format('woff');
  font-weight: 700;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Museo;
  src: url('/assets/fonts/museo-500.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: Museo;
  src: url('/assets/fonts/museo-700.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: MuseoSans;
  src: url('/assets/fonts/museo-sans-500.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: MuseoSans;
  src: url('/assets/fonts/museo-sans-700.woff') format('woff');
  font-weight: 700;
}
